.btnaddtolist {
    background: #16d47b;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    min-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    float: left;
  }
  
  .btnaddtolist p {
    font-family: 'Abel', sans-serif;
    font-size:42px;
    padding: 20px;
  }

  .btnaddtolist {
    z-index: 1;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
  }
  
  .btnaddtolist:hover {
    cursor: pointer;
    animation: jelly 0.5s;
  }
  
  @keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }
  